# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*
!build/.keep
cuda/build/*
!cuda/build/.keep
x86/build/*
!x86/build/.keep
prof/*
!/prof/.keep
*.prof
*.data
computation_lib_compare/dnnl_lnx_1.6.0_cpu_gomp